$colors:
  "1" rgb(155, 111, 52),
  "2" rgb(160, 169, 127),
  "3" rgb(47, 74, 19),
  "4" rgb(86, 99, 61),
  "5" rgb(152, 129, 119),
  "6" rgb(153, 194, 74),
  "7" rgb(84, 46, 9),
  "8" rgb(209, 147, 95),
  "9" rgb(68, 70, 68),
  "10" rgb(255, 225, 172),
  "11" rgb(94, 126, 0),
  "12" rgb(35, 144, 144),
  "13" rgb(181, 240, 121);

@each $name, $color in $colors {

  .palette-#{$name} {
    background: $color;

    .title,
    .subtitle,
    h4,
    a {
      color: choose-contrast-color($color);
    }
  }
}
