.palette-1 {
  background: rgb(155, 111, 52);
}
.palette-2 {
  background: rgb(236, 235, 232);
}
.palette-3 {
  background: rgb(47, 74, 19);
  color: #fff;
}
.palette-4 {
  background: rgb(86, 99, 61);
  color: #fff;
}
.palette-5 {
  background: rgb(146, 144, 136);
}
.palette-6 {
  background: rgb(153, 194, 74);
}
.palette-7 {
  background: rgb(84, 46, 9);
  color: #fff;
}
.palette-8 {
  background: rgb(209, 147, 95);
}
.palette-9 {
  background: rgb(68, 70, 68);
  color: #fff;
}
.palette-10 {
  background: rgb(172, 164, 172);
}
