@import "./custom";

// From http://khroma.co/generator/
$colors:
  "1"   $link                  rgb(225, 248, 203),
  "2"   rgb(109, 126, 89)   rgb(239, 251, 175),
  "3"   rgb(191, 228, 136)  rgb(30, 109, 107),
  "4"   rgb(39, 105, 103)   rgb(190, 243, 185),
  "5"   rgb(24, 115, 94)    rgb(169, 209, 132),
  "6"   rgb(152, 179, 115)  rgb(230, 249, 206),
  "7"   rgb(230, 245, 207)  rgb(107, 115, 135),
  "8"   rgb(171, 209, 223)  rgb(38, 117, 115),
  "9"   rgb(138, 206, 161)  rgb(65, 105, 121),
  "10"  rgb(94, 126, 0)     rgb(232, 232, 171),
  "11"  rgb(127, 123, 51)   rgb(201, 239, 188),
  "12"  rgb(35, 144, 144)   rgb(198, 236, 162),
  "13"  rgb(45, 102, 113)   rgb(198, 176, 38),
  "14"  rgb(151, 221, 188)  rgb(61, 123, 140),
  "15"  rgb(220, 243, 201)  rgb(56, 105, 107),
  "16"  rgb(174, 216, 144)  rgb(52, 102, 116),
  "17"  rgb(174, 194, 101)  rgb(83, 106, 72),
  "18"  rgb(161, 98, 30)    rgb(233, 242, 130),
  "19"  rgb(209, 229, 173)  rgb(106, 124, 96),
  "20"  rgb(166, 202, 201)  rgb(41, 104, 95),
  "21"  rgb(113, 197, 165)  rgb(47, 119, 119),
  "22"  rgb(186, 221, 204)  rgb(86, 107, 84),
  "23"  rgb(174, 217, 143)  rgb(147, 79, 53),
  "24"  rgb(119, 126, 31)   rgb(190, 230, 229),
  "25"  rgb(169, 196, 127)  rgb(60, 121, 152),
  "26"  rgb(198, 236, 162)  rgb(20, 108, 124),
  "27"  rgb(125, 182, 159)  rgb(232, 232, 171),
  "28"  rgb(142, 155, 172)  rgb(225, 248, 203),
  "29"  rgb(117, 214, 183)  rgb(81, 98, 113)
  "29"  rgb(44, 115, 112)   rgb(225, 204, 181),
  "30"  rgb(181, 240, 121)  rgb(45, 102, 113),
  "31"  rgb(155, 111, 52)   rgb(191, 228, 136),
  "32"  rgb(160, 169, 127)  rgb(45, 102, 113),
  "33"  rgb(47, 74, 19)     rgb(232, 232, 171),
  "34"  rgb(86, 99, 61)     rgb(190, 230, 229),
  "35"  rgb(152, 129, 119)  rgb(233, 242, 130),
  "36"  rgb(153, 194, 74)   rgb(44, 115, 112),
  "37"  rgb(84, 46, 9)      rgb(233, 242, 130),
  "38"  rgb(209, 147, 95)   rgb(220, 243, 201),
  "39"  rgb(68, 70, 68)     rgb(255, 225, 172),
  "40"  rgb(255, 225, 172)  rgb(155, 111, 52);

@each $name, $colorBG, $colorType in $colors {

  .palette-#{$name} {
    background: $colorBG;

    .title,
    .subtitle,
    h4,
    a {
      color: $colorType;
    }
  }
}
