// Customise Bulma
@font-face {
  font-family: 'Varela';
  font-display: auto;
  src:
    url('/fonts/varela-round-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/varela-round-v12-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$family-sans-serif: "SF Pro Rounded", "Roboto", "Segoe UI";

$primary: #515151;
$link: $primary;

$section-padding: 1.5rem 1.5rem 0;
$notification-padding: 1.25rem;
