// Customise Bulma
@font-face {
  font-family: 'Neuton';
  font-display: auto;
  src:
    url('/fonts/neuton-latin-400.woff') format('woff2'),
    url('/fonts/neuton-latin-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$family-sans-serif: "Neuton";

$primary: rgb(121, 121, 121);
$link: $primary;

$section-padding: 1.5rem 1.5rem 0;

.subscribes img {
  max-width: 132px;
}
