// Customise Bulma
@font-face {
  font-family: 'Varela';
  font-display: auto;
  src:
    url('/fonts/varela-round-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/varela-round-v12-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$family-sans-serif: "SF Pro Rounded", "SF Rounded", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI";

$brand: #515151;
$link: rgb(102, 153, 0);
$link-hover: #18735e;

$block-spacing: 1.2rem;

$section-padding: $block-spacing * 2 $block-spacing 0;
$card-content-padding: $block-spacing;

$border-radius: 10px;
$half-border-radius: $border-radius / 2;

.card {
  border-radius: $border-radius;
}
