@import "./custom";

// Site styles
body {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: 'Varela', sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  color: $brand;
}

.logo a {
  color: $brand;
}

.logo-mark {
  max-width: 75px;
}

.tagline {
  margin: 0.5em 0 1em 0;
}

.push-down {
  margin-bottom: $spacing-rhythm;
}

.half-push-down {
  margin-bottom: $spacing-rhythm * 0.5;
}

.push-up {
  margin-top: $spacing-rhythm;
}

.subscribes img {
  max-width: 132px;
}

audio {
  width: 100%; // Span full space
}

.chapters {

  .is-ancestor {
    justify-content: space-around; // Center align chapter boxes

    .is-parent {
      align-items: center;
    }
  }
}

