@import "./custom";

// Type
body {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: 'Varela', sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

.content .force-link {
  color: $link; // For when we want to force a link color in a wrapped block
}

a:hover {
  color: $link-hover;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  color: $brand; // Need to override bulma
}

.title {
  color: inherit;
}

.content a,
.subtitle a {
  border-bottom: 1px solid $link;
}

.logo-mark {
  max-width: 75px;
}

.tagline {
  margin: 0.5em 0 1em 0;
}

.subscribes {
  a {
    border-bottom: 0;
    padding: 0;
  }

  img {
    max-width: 132px;
  }
}

// Episodes
audio {
  width: 100%; // Span full space
}

.chapters {
  margin-top: $block-spacing * 2;

  .card.is-parent {
    padding: 0; // Flush background
  }

  .tile .tag,
  .tile img {
    background-color: rgba(100%, 100%, 100%, 0.25);
    border-radius: $half-border-radius;
  }

  .is-ancestor {
    justify-content: space-between; // Center align chapter boxes

    .is-parent {
      align-items: center;
    }
  }
}

body.header-not-at-top .player {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  z-index: 11;

  .level {
    display: none; // On mobile these take up too much screen space when fixed
  }
}

.chapters-preview {
  padding-top: $block-spacing * 0.5;

  > .is-parent {
    display: flex; // Wrap horizontally on mobile
  }

  .preview-container {
    padding: 0 !important;
    align-items: center;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chapters .chapter-jump:hover {
  cursor: pointer;

  h4 {
    transition: .25s ease-in-out;
  }
  h4 {
    background-color: #fff;
    color: $link;
  }
}

.chapters {

  a {
    transition: color .25s ease-in-out;
  }
  a:hover {
    color: #fff;
  }
}

// Transcripts hanging indents
.transcript-content {

  p {
    text-indent: -6.5rem;
    margin-left: 6.25rem;
  }

  code {
    width: 6rem;
    text-indent: 0rem;
    margin-right: 0.25rem;
    display: inline-block;
    color: $link;
    cursor: pointer;
  }
}
