@import "./custom";

// Layout Utilities
.push-down {
  margin-bottom: $block-spacing;
}

.half-push-down {
  margin-bottom: $block-spacing * 0.5;
}

.push-up {
  margin-top: $block-spacing;
}

.double-push-up {
  margin-top: $block-spacing * 2;
}

.no-push-up {
  padding-top: 0; // Override section spacing (e.g. for header)
}

.no-push-down {
  margin-bottom: 0 !important; // Override section spacing (e.g. for header)
}
