# Jekyll
.sass-cache
.jekyll-metadata
.jekyll-cache
_site/

# Zola
public/
# Minified files server to main directory
static/main.min.js
static/main.min.js.map
static/processed_images

# Dev
node_modules/
assets/css/*.css
.env
