<article class="content section">
  <p class="is-size-5">
    Terragrams is a podcast series disseminating discussions about the landscape. As our societal conscience and appreciation of the landscape heightens, Terragrams provides a wide portal into landscape architecture and the lives and thoughts of the professionals who shape it.
  </p>
  <div class="level">
    <div class="level-item"></div>
    <a href="{{ config.base_url ~ '/episodes' }}" class="level-item tag is-primary is-size-6">
      View all episodes
    </a>
    <div class="level-item"></div>
    <a href="{{ config.base_url ~ '/about' }}" class="level-item tag is-primary is-size-6">
      More about Terragrams
    </a>
    <div class="level-item"></div>
  </div>
</article>
