<article class="content">
  <p>
    Terragrams is a podcast series disseminating discussions about the landscape. As our societal conscience and appreciation of the landscape heightens, Terragrams provides a wide portal into landscape architecture and the lives and thoughts of the professionals who shape it. The project aims at capturing, distributing and archiving these voices. It is an easily accessible, open audio digital archive aimed at collecting first-hand, face-to-face conversations between and about people in and around the field.
  </p>
  <div class="level">
    <div class="level-item"></div>
    <a href="{{ config.base_url ~ '/episodes' }}" class="level-item tag is-primary is-size-6">
      View all episodes
    </a>
    <div class="level-item"></div>
    <a href="{{ config.base_url ~ '/about' }}" class="level-item tag is-primary is-size-6">
      More about Terragrams
    </a>
    <div class="level-item"></div>
  </div>
</article>
