{% set data_path = "content/chapters/" ~ page.slug ~ ".toml" %}
{% set episode_data = load_data(path=data_path) %}
{% set tile_col_tally = 1 %}
{% set tile_row_tally = 1 %}
{% set last_rand = 0 %}

<section class="chapters">

  {% for chapter in episode_data.chapters %}

    {# Set image from static directory #}
    {% if chapter.image %}
      {%- set img_path = "../static" ~ page.path ~ chapter.image -%}
      {%- set img_url = page.path ~ chapter.image -%}
      {% if chapter.size >= 6 %}
        {%- set img = resize_image(path=img_path, width=800, quality=75, op='fit_width') -%}
      {% elif chapter.size >= 4 %}
        {%- set img = resize_image(path=img_path, width=600, quality=75, op='fit_width') -%}
      {% else %}
        {%- set img = resize_image(path=img_path, width=400, quality=75, op='fit_width') -%}
      {% endif %}
    {% endif %}

    {# Track tile sizes to intelligently create new rows #}
    {% if chapter.size %}
      {% set tile_col_size = chapter.size %}
    {% else %}
      {% set tile_col_size = 4 %}
    {% endif %}
    {% if tile_col_tally + tile_col_size > 13 %}
      {% set_global tile_row_tally = tile_row_tally + 1 %}
      {% set_global tile_col_tally = 1 %}
    {% endif %}

    {%- set randAlign = get_random(start=1, end=4 ) -%}
    {% if randAlign == 1 %}
      {% set align = "align-self: start;" %}
    {% elif randAlign == 2 %}
      {% set align = "align-self: center;" %}
    {% else %}
      {% set align = "align-self: end;" %}
    {% endif %}

    <div class="has-text-centered"
         style="grid-column: {{ tile_col_tally }} / span {{ tile_col_size }};
                grid-row: {{ tile_row_tally }} / auto; {{ align }}">
      {%- set rand_color = get_random(start=1, end=config.extra.color_options ) -%}
      {% if rand_color == last_rand %}
        {%- set rand_color = get_random(start=1, end=config.extra.color_options ) -%} # Reroll
      {% endif %}
      {% if rand_color == last_rand %}
        {%- set rand_color = get_random(start=1, end=config.extra.color_options ) -%} # Reroll
      {% endif %}
      <article class="card tile is-child palette-{{ rand_color }}">
        <div class="card-content">
          <h3 class="title is-size-4-mobile is-size-6-tablet is-size-5-desktop" onclick="chapterJump('{{ chapter.time }}');">
            {{ chapter.title }}
          </h3>
          <div class="chapter-jump">
            <div class="level">
              <h4 class="level-item tag is-size-6" onclick="chapterJump('{{ chapter.time }}');">
                Ch. {{ loop.index }}
              </h4>
              {% if tile_col_size > 3 %}
              <div class="level-item"></div>
              {% else %}
              {# Need to break level into rows if too small #}
            </div>
            <div class="level chapter-jump">
              {% endif %}
              <h4 class="level-item tag is-size-6" onclick="chapterJump('{{ chapter.time }}');">▶{{ chapter.time }}</h4>
            </div>
            {% if img %}
              <a href="{{ img_url }}" target="_blank" class="chapter-image" rel="noopener">
                <img class="half-push-down" src="{{ img|safe }}">
              </a>
            {% endif %}
          </div>
          {% if chapter.credit %}
            <p class="subtitle">
              {% if chapter.link %}<a href="{{ chapter.link }}" target="_blank">{% endif %}
              <em>{{ chapter.credit }}</em>
              {% if chapter.link %}</a>{% endif %}
            </p>
          {% endif %}
        </div>
      </article>
    </div>

    {%- set last_rand = rand_color -%}
    {% set_global tile_col_tally = tile_col_tally + tile_col_size %}
    {% if loop.last %}</div>{% endif %}

  {% endfor %}
</section>
