<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ config.title }}</title>
  <base href="{{ config.base_url|safe }}">

  <meta name="description" content="{{ config.description|safe }}">
  <meta name="author" content="{{ config.extra.author }}">
  <meta name="apple-itunes-app" content="app-id={{ config.extra.itunes_id }}">

  <link rel="stylesheet" href="{{ get_url(path='style.css')|safe }}" />
  <link rel="icon" type="image/png" href="{{ get_url(path='/logo-32x32.png')|safe }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ get_url(path='/logo-16x16.png')|safe }}" sizes="16x16" />
  {% if current_url %}<link rel="canonical" href="{{ current_url|safe }}">{% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='/rss.xml')|safe }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ get_url(path='/sitemap.xml')|safe }}">

</head>

<body>

  <header class="section has-text-centered">
    <a href="{{ config.base_url|safe }}"><img class="logo-mark" src="{{ config.base_url ~ '/logo.png' }}" alt="The Terragrams logo"></a>
    <h1 class="is-size-2"><a href="{{ config.base_url|safe }}">Terragrams</a></h1>
    <h4 class="is-size-6 tag tagline">delivering the landscape</h4>
    <div class="subscribes">
      <a href=""><img src="{{ config.base_url ~ '/button-overcast.svg' }}" alt="Subscribe in Overcast"></a>
      <a href=""><img src="{{ config.base_url ~ '/button-apple.svg' }}" alt="Subscribe on Apple Podcasts"></a>
      <a href=""><img src="{{ config.base_url ~ '/button-google.svg' }}" alt="Subscribe on Google Podcasts"></a>
      <a href="{{ config.base_url ~ "/rss.xml" }}"><img src="{{ config.base_url ~ '/button-rss.svg' }}" alt="Subscribe using RSS"></a>
    </div>
  </header>

  <main class="container">
    {% block content -%}{%- endblock content -%}
  </main>

  <footer class="section has-text-centered"></footer>
  {# DEBUG: {{ __tera_context }} #}
  <script src="{{ get_url(path='/main.min.js')|safe }}" async></script>
  {% if config.base_url is not containing("192.168") -%}<script>
    TODO: analytics
  </script>
  {%- endif -%}

</body>
</html>
