<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ config.title }}</title>
  <base href="{{ current_url|safe }}">

  <meta name="description" content="{{ config.description|safe }}">
  <meta name="author" content="Philip Belesky">
  <meta name="twitter:creator" content="@philipbelesky">
  <meta name="apple-itunes-app" content="app-id=1113702712"><!-- TODO: add ID -->

  <link rel="stylesheet" href="{{ config.base_url ~ '/style.css'}}" />
  <link rel="icon" type="image/png" href="{{ get_url(path='/logo-32x32.png')|safe }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ get_url(path='/logo-16x16.png')|safe }}" sizes="16x16" />

  <link rel="canonical" href="{{ current_url|safe }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ config.base_url ~ "/rss.xml"}}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ config.base_url ~ "/sitemap.xml"}}">

</head>

<body>

  <header class="section has-text-centered">
    <a href="{{ config.base_url }}"><img class="logo-mark" src="{{ config.base_url ~ '/logo.png' }}" alt="The Terragrams logo"></a>
    <h1 class="is-size-2 logo"><a href="{{ config.base_url }}">Terragrams</a></h1>
    <h4 class="is-size-6 tagline">delivering the landscape</h4>
    <div class="subscribes">
      <a href=""><img src="{{ config.base_url ~ '/button-apple.svg' }}" alt="Subscribe on Apple Podcasts"></a>
      <a href=""><img src="{{ config.base_url ~ '/button-google.svg' }}" alt="Subscribe on Google Podcasts"></a>
      <a href="{{ config.base_url ~ "/rss.xml" }}"><img src="{{ config.base_url ~ '/button-rss.svg' }}" alt="Subscribe using RSS"></a>
      <a href=""><img src="{{ config.base_url ~ '/button-overcast.svg' }}" alt="Subscribe in Overcast"></a>
    </div>
  </header>

  <main class="container">
    {%- block content -%}{%- endblock content -%}
  </main>

{#   <footer class="section has-text-centered">
    What goes here?
  </footer> #}
  {# <br><br><br><br>DEBUG: {{ __tera_context }} #}

  {% if not config.extra.debug -%}<script>
    (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
    h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
    l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
    r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
    n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
    A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
    sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
    void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
    (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
    sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
    a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
    ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
    !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
    y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
    d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
    a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
    trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
    (window,"UA-314178-31",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
  </script>
  {%- endif -%}

</body>
</html>
