{%- extends "base.html" -%}

{%- block content -%}

  {% include "partials/blurb.html" %}

  {# <h3 class="is-size-4 has-text-centered push-up push-down">Latest Episodes</h3> #}

  <div class="section">
    {%- set episodes = get_section(path="episodes/_index.md") -%}
    {% for page in episodes.pages | sort(attribute="date") | reverse | slice(end=5) %}
      <a href="{{ page.permalink }}" class="push-down is-block">
        <article class="card">
          <div class="card-content content">
            {% include "partials/episode-header.html" %}
            <p>{{ page.description }}</p>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>

  {% if episodes | length > 5 %}
    <h3 class="is-size-4 has-text-centered push-down">
      <a href="{{ config.base_url ~ '/episodes' }}">View All Episodes</a>
    </h3>
  {% endif %}

{%- endblock content -%}
