{%- extends "base.html" -%}

{%- block content -%}

  {% include "partials/blurb.html" %}

  <div class="section">

    <div class="card">
      <div class="card-content">
        {% include "partials/episode-header.html" %}
        <audio controls src="{{ config.extra.episode_host_path }}{{ page.extra.file }}" id="episodeAudio">
          Your browser does not support the <code>audio</code> element.
        </audio>
      </div>
    </div>

  </div>

  <div class="section">

    <article class="content push-down">
      <div class="card">
        <div class="card-content">
          {{ page.content | safe }}
        </div>
      </div>
    </article>

    {% include "partials/chapters.html" %}

    {% include "partials/transcript.html" %}

  </div>

{%- endblock content -%}
