{%- extends "base.html" -%}

{%- block content -%}

  <h2>Linear</h2>
  <section class="chapters">

    {% set tile_size_tally = -2 %}

    {% for a in range(start=1,end=config.extra.color_options) %}

      {% if a == 1 %}<div class="tile is-ancestor">{% endif %}
      {% set tile_size = 2 %}
      {% set_global tile_size_tally = tile_size_tally + tile_size %}
      {% if tile_size_tally >= 12 %}
        </div><div class="tile is-ancestor">
        {% set_global tile_size_tally = 0 %}
      {% endif %}

      <div class="tile has-text-centered is-parent is-{{ tile_size }}">
        <article class="card tile is-child palette-{{ a }}">
          <div class="card-content">
            <h3 class="title is-size-5" onclick="chapterJump('');">Palette {{ a }}</h3>
            <div class="level">
              <h4 class="level-item tag is-size-6" onclick="chapterJump('');">▶10:00</h4>
            </div>
            <p class="subtitle">
              <a><em>Jon Turner Design</em></a>
            </p>
          </div>
        </article>
      </div>

    {% endfor %}

  </section>

  <br><br><br><h1>Random</h1>
  <section class="chapters">

    {% set tile_size_tally = 0 %}

    {% for a in range(start=1,end=config.extra.color_options) %}

      {%- set rand = get_random(start=1, end=config.extra.color_options ) -%}
      {% if a == 1 %}<div class="tile is-ancestor">{% endif %}
      {% set tile_size = 2 %}
      {% set_global tile_size_tally = tile_size_tally + tile_size %}
      {% if tile_size_tally >= 12 %}
        </div><div class="tile is-ancestor">
        {% set_global tile_size_tally = 0 %}
      {% endif %}

      <div class="tile has-text-centered is-parent is-{{ tile_size }}">
        <article class="card tile is-child palette-{{ rand }}">
          <div class="card-content">
            <h3 class="title is-size-5" onclick="chapterJump('');">{{ rand }}</h3>
            <div class="level">
              <h4 class="level-item tag is-size-6" onclick="chapterJump('');">▶10:00</h4>
            </div>
            <p class="subtitle">
              <a><em>Jon Turner Design</em></a>
            </p>
          </div>
        </article>
      </div>

    {% endfor %}

  </section>

{%- endblock content -%}
